---
import { SITE } from 'astrowind:config';
import Image from '~/components/common/Image.astro';

const {
  class: classList = '',
  variant = 'right',
} = Astro.props;

const variants = {
  plain: 'logo.png',
  black: 'logo-black.png',
  right: 'logo-text-right.png',
  vertical: 'logo-text-bottom-v.png',
  horizontal: 'logo-text-bottom-h.png',
}
---

<span
  class="justify-baseline self-center rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img class={classList+""}
			 src={"/src/assets/images/"+variants[variant]}
	>
  <!--Image class={classList+" object-fit"} alt="logo" src={"~/assets/images/"+variants[variant]} crossorigin="anonymous" referrerpolicy="no-referrer"></Image> 
</span>
