---
import Layout from '~/layouts/Layout.astro';
import FeaturesLinks from '~/components/widgets/FeaturesLinks.astro';
import Waves from '~/components/common/Waves.astro';
import { getHomePermalink } from '~/utils/permalinks';

const title = `Tack!`;
---

<Layout metadata={{ title }}>
  <section class="flex flex-col items-center h-full pt-8 mb-16 relative">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-7xl leading-none">
          <span class="sr-only">Tack f칬r att du engagerar dig!</span>
          <span class="text-primary">Tack f칬r att <span class="font-moreSugar text-shadow text-quaternary underline italic">du</span><span class="font-moreSugar"> engagerar dig!</span></span>
        </h2>
        <p class="text-2xl font-semibold md:text-2xl text-muted" >V칛lkommen till Ung i V칛rlden! 
          Passa p친 att f칬lja v친ra sociala kaneler och h친ll utkik i mailboxen fram칬ver 游눏</p>
      </div>
    </div>

    <div class="w-full">

      <Waves top bg="bg-secondary opacity-40 absolute" color="fill-page" />

      <FeaturesLinks
        id="socials"
        title="Sociala kanaler"
        subtitle=""
        columns={3}
        items={[
          {
            title: 'Instagram',
            description:
              'L칛nk till v친r insta h칛r',
            icon: 'tabler:brand-instagram',
            href: "https://instagram.com/ungivarldensverige",    
          },
          {
            title: 'LinkedIn',
            description:
              'L칛nk till v친r linkedin h칛r',
            icon: 'tabler:brand-linkedin',
            href: "https://www.linkedin.com/company/ung-i-v%C3%A4rlden/",
          },
          {
            title: 'Mail',
            description: `Vi g친r alltid att n친 p친 mail p친 ungivarlden.org@gmail.com`,
            icon: 'tabler:mail',
            href: 'mailto:ungivarlden.org@gmail.com',
          },
        ]}
      >
        <Fragment slot="bg">
          <div class="absolute inset-0 bg-gradient-to-b from-secondary to-page opacity-40 dark:bg-transparent"></div>
        </Fragment>
      </FeaturesLinks>
    </div>
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          Forts칛tt utforska hemsidan?</p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="btn">Tillbaka till startsidan</a>
      </div>
    </div>
  </section>

</Layout>
