---
export interface SectionProps {
  title: string;
  content: string;
  icon: string;
  alt: string;
  reverse: boolean;
}

const { title, content, icon, alt, reverse } = Astro.props;
---

<>
  <div class={`flex ${reverse ? 'flex-row-reverse' : 'flex-row'} items-center p-6 bg-opacity-40 dark:bg-transparent`}>
    <!-- Icon -->
    <img src={icon} alt={alt} class="w-12 h-12 mr-4" />

    <!-- Content -->
    <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
      <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-200">{title}</h3>
      <p class="text-gray-600 dark:text-gray-300">{content}</p>
    </div>
  </div>
</>